.n8n/workflows/Real_Estate_Hunter_FSBO.json
{
    "name": "Real_Estate_Hunter_FSBO",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hours": 6
                        }
                    ]
                }
            },
            "name": "Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "e3b6a8d0-0f3b-4c2a-9e1d-8f2c5a0d3b4e"
        },
        {
            "parameters": {
                "url": "https://example-real-estate-site.com/search?q=owner",
                "options": {
                    "response": {
                        "response": "text"
                    }
                },
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
                        }
                    ]
                }
            },
            "name": "Scrape Portal",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        {
            "parameters": {
                "dataPropertyName": "data",
                "extractionValues": {
                    "values": [
                        {
                            "key": "title",
                            "cssSelector": ".listing-title",
                            "returnArray": true
                        },
                        {
                            "key": "price",
                            "cssSelector": ".listing-price",
                            "returnArray": true
                        },
                        {
                            "key": "location",
                            "cssSelector": ".listing-location",
                            "returnArray": true
                        },
                        {
                            "key": "description",
                            "cssSelector": ".listing-description",
                            "returnArray": true
                        },
                        {
                            "key": "contact",
                            "cssSelector": ".listing-contact",
                            "returnArray": true
                        }
                    ]
                }
            },
            "name": "HTML Parser",
            "type": "n8n-nodes-base.htmlExtract",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "b2c3d4e5-f6g7-8901-2345-678901bcdefa"
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "content": "=Analyze this property description and extract:\n1. Is it 'dueño directo'? (true/false) - if broker/commission mentioned, false.\n2. Type: VENTA, RENTA_ANUAL, RENTA_TEMPORAL\n3. FSBO Confidence (0-1)\n\nDescription: {{$json.description}}"
                        }
                    ]
                }
            },
            "name": "AI Classifier",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "c3d4e5f6-g7h8-9012-3456-789012cdefab"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json.is_fsbo}}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Filter Brokers",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "id": "d4e5f6g7-h8i9-0123-4567-890123defabc"
        },
        {
            "parameters": {
                "tableId": "prospect_properties",
                "columnsUi": {
                    "mappingMode": "defineBelow",
                    "valueMapping": {
                        "values": [
                            {
                                "column": "description",
                                "value": "={{$json.description}}"
                            },
                            {
                                "column": "price",
                                "value": "={{$json.price}}"
                            },
                            {
                                "column": "source",
                                "value": "portal_local"
                            },
                            {
                                "column": "rental_type",
                                "value": "={{$json.rental_type}}"
                            },
                            {
                                "column": "is_fsbo",
                                "value": "={{$json.is_fsbo}}"
                            },
                            {
                                "column": "fsbo_confidence",
                                "value": "={{$json.fsbo_confidence}}"
                            }
                        ]
                    }
                }
            },
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "e5f6g7h8-i9j0-1234-5678-901234efabcd"
        }
    ],
    "connections": {
        "Schedule": {
            "main": [
                [
                    {
                        "node": "Scrape Portal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Portal": {
            "main": [
                [
                    {
                        "node": "HTML Parser",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTML Parser": {
            "main": [
                [
                    {
                        "node": "AI Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Classifier": {
            "main": [
                [
                    {
                        "node": "Filter Brokers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Brokers": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}